head
  link(rel='stylesheet' href='library/css/style.css')
// Header
.container
  .d-flex.justify-content-end.custom-list
    ul.list-inline
      li.list-inline-item
        a(href='work.html') Works
      li.list-inline-item
        a(href='blog.html') Blog
      li.list-inline-item Contact
// Content
div
  .container.d-flex.justify-content-center.mt-5
    .row
      .col-7
        div
          h1 Hi, I am John,
          h1 Creative Technologist
          span
            | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          div
            a.btn.btn-primary(href='#') Go somewhere
      .col-5.text-center
        img.rounded-circle(src='library/img/Ellipse 1.png' alt='')
  // Recent posts
  .mt-5(style='background-color: #EDF7FA;')
    .container.d-flex.justify-content-center
      .col-6.mt-4.me-2
        p Recent posts
        .my-4.px-3.py-4(style='background-color: #ffffff;')
          div
            h3 Making a design system from scratch
            p 12 Feb 2020|Design, Pattern
            span
              | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .col-6.mt-4.ms-2
        p.d-flex.justify-content-end View all
        .my-4.px-3.py-4(style='background-color: #ffffff;')
          div
            h3 Creating pixel perfect icons in Figma
            p 12 Feb 2020|Figma, Icon Design
            span
              | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
  // Featured works
  .container.mt-4
    .mb-5
      p Featured works
    #element-change
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 30.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title Designing Dashboards
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2020 
                span.text-secondary.fs-5.mx-4 Dashboard
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        span.border-bottom.my-4
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 32.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title Vibrant Portraits of 2020
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2018 
                span.text-secondary.fs-5.mx-4 Illustration
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        span.border-bottom.my-4
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 34.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title 36 Days of Malayalam type
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2018 
                span.text-secondary.fs-5.mx-4 Typography
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 30.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title Designing Dashboards
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2020 
                span.text-secondary.fs-5.mx-4 Dashboard
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        span.border-bottom.my-4
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 30.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title Designing Dashboards
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2020 
                span.text-secondary.fs-5.mx-4 Dashboard
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        span.border-bottom.my-4
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 30.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title Designing Dashboards
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2020 
                span.text-secondary.fs-5.mx-4 Dashboard
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        span.border-bottom.my-4
      .row
        .col-3
          .card.border-light
            img.card-img-top(src='library/img/Rectangle 30.png' alt='...')
        .col-9
          .card.border-light
            .card-body
              h5.card-title Designing Dashboards
              .card-body.d-flex.mt-4.mb-4
                span.text-date
                  span.text-white.fs-5.mx-2.fw-bold  2020 
                span.text-secondary.fs-5.mx-4 Dashboard
              p.card-text
                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        span.border-bottom.my-4
  button#button-demo click me
// Footer
.col.justify-content-center.align-items-center.d-flex.my-5
  div
    .d-flex.justify-content-center
      ul.list-inline
        li.list-inline-item
          img(src='library/img/fb.png' alt='...')
        li.list-inline-item
          img(src='library/img/insta.png' alt='...')
        li.list-inline-item
          img(src='library/img/Group.png' alt='...')
        li.list-inline-item
          img(src='library/img/Linkedin.png' alt='...')
    .d-flex.justify-content-center
      p Copyright &copy;2020 All rights reserved 
script.
  const buttonClick = document.getElementById("button-demo");
  const elementChange = document.getElementById("element-change");
  buttonClick.addEventListener("click", function() {
  let checkClass = elementChange.classList.contains('row', 'row-cols-1', 'row-cols-md-2', 'g-4');
  if (!checkClass) {
  elementChange.classList.add("row", "row-cols-1", "row-cols-md-2", "g-4");
  } else {
  elementChange.classList.remove("row", "row-cols-1", "row-cols-md-2", "g-4");
  }
  });
