@import 'bootstrap/bootstrap';

.custom-list {
  margin-top: 27px;
}

.custom-list .list-inline-item {
  margin-right: 50px;
}

.text-date {
  background-color: black;
  border-radius: 25px;
}
.text-detail {
  background-color: #FF7C7C;
  border-radius: 25px;
}


